<template>
  <div class="flex gap2 border border-gray h-6">
    <div class="text-black">{{ identifier }}</div>
    <div class="text-black">{{ name }}</div>
  </div>
</template>
<script lang="ts">
export default {
  props: {
    id: String,
    text: String
  },
  data() {
    return {
      identifier: this.$props.id,
      name: this.$props.text
    }
  }
}
</script>
