<script lang="ts">
import TodoItem from './TodoItem'
export default {
  data() {
    return {
      count: 0,
      inpText: '',
      todoLists: []
    }
  },
  methods: {
    add() {
        this.todoLists.push({ id: this.count, text: this.inpText });
        this.inpText = '';
        this.count++;
    }
  }
}
</script>
<template>
  <form class="flex gap-2 h-6" @submit.prevent="add">
    <input class="w-[100px] border border-gray rounded-[2px]" v-model="inpText">
    <button>Add Todo</button>
  </form>
  <ul>
    <li v-for="todo in todoLists" :key="todo.id">
      <TodoItem :id="todo.id" :text="todo.text" />
    </li>
  </ul>
</template>
